**Homework 2**

We begin with the usual imports.

In [ ]:
import numpy as np
import pandas as pd

Now load the iris dataset.

In [ ]:
iris=pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/datasets/iris.csv",index_col=0)
iris.head(5)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

Define `data` to be a DataFrame containing the `Petal.Length` and `Petal.Width` of the flowers in the iris dataset. Define `target` to be a Pandas Series containing the `Species` column.

In [ ]:
data=iris[['Petal.Length','Petal.Width']]
target=iris.Species

Define a function `sq_distances` with inputs `data` (a DataFrame of known Petal Lengths and Petal Widths), `length` and `width` (the Petal Length and Petal Width of an unknown flower). The function should return a Pandas series of squared distances from the unknown point to each point in `data`. Use Pandas and/or Numpy operations. DO NOT USE A FOR LOOP.

In [ ]:
def sq_distances(data,length,width):
  data['temp']=((data['Petal.Length']-length)**2)+((data['Petal.Width']-width)**2)#.sort_values(by='temp')
 # data=data.sort_values(by='temp')
  return data.temp

Define a function `SpeciesOfKNeighbors` that gives the Species of the k nearest neighbors from the point with given Petal Length and Petal Width to the points in `data`. (The list of species for each point in `data` is contained in the Series `target`.)

In [ ]:
def SpeciesOfNeighbors(data,target,x,y,k):
  new = sq_distances(data,x,y).sort_values()[0:k].index
  test = target.iloc[new]
  return test

In [ ]:
#SpeciesOfNeighbors(data,target,1.4,0.2,3)

Create a function `prediction` that takes a Pandas Series of labels, and returns the label that appears the most often. (Hint: The Pandas Series function `value_counts()` will be useful here.

In [ ]:
def prediction(labels):
  labels =labels.value_counts().sort_values(ascending=False)
  return labels.index[0]

Create a function `KNN` which takes a DataFrame `data` of known Petal Lengths and Petal Widths, a Series `target` containing their species, a hyperparameter `k`, and the `length` and `width` of the petal of an unknown flower. Your function should return the most common species among the k nearest neighbors of the unknown flower.

In [ ]:
def KNN(data,target,x,y,k):
  identify= SpeciesOfNeighbors(data,target,x,y,k)
  identify= prediction(identify)
  return identify

Test your code here (it should return 'setosa'):

In [ ]:
KNN(data,target,1.4,0.2,3)

<ipython-input-27-1f1081b0b733>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['temp']=((data['Petal.Length']-length)**2)+((data['Petal.Width']-width)**2)#.sort_values(by='temp')

'setosa'